
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-color: #303030;
}

#search-input {
  position: absolute;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

#search-form {
  margin-top: 25px;
  padding-bottom: 20px;
}

#archive-heading {
  border-bottom: none;
}

#heading-row {
  border-bottom: 1px solid #eee;
  padding-bottom: 9px;
  margin: 40px 0 20px;
}

.portfolio-item {
    margin-bottom: 25px;
    height: 125px;
    width: 125px;
}

p,
label,
h1,
h3,
small {
  color: #BABABA;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#most-recent-description {
  color: #BABABA;
  margin-bottom: 5px;
}

#player {
  margin-top: 10px;
  width: 100%;
}

h2 {
  color: #BABABA;
  font-size: 120%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


li,
ul,
ul {
  color: #BABABA;
}

footer {
    margin: 50px 0;
}

.loader {
    display: none;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 46%;
    left: 46%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.form-control-file {
  color: #BABABA;
}

.alert {
  margin: 20px;
}

button.close {
  position: absolute;
  top: 10px;
  right: 10px;
}
